/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    padding-top: 70px;
    /* Ajusta este valor para dar espacio arriba del contenido */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Para asegurar que esté en la parte superior */
}

#login {
    text-align: center;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

.product {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    max-width: 200px;
    text-align: center;
}

#carro {
    text-align: center;
    margin: 2em;
}

footer {
    background-color: #333; /* Cambia el color de fondo según tu preferencia */
    color: #fff;
    text-align: center;
    padding: 10px;
    /* Puedes agregar más estilos según tus necesidades */
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.product {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    max-width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
    /* La imagen no se pasará de los márgenes */
    height: auto;
    /* Mantener la proporción de la imagen */
    margin-bottom: 1em;
    /* Espacio opcional entre la imagen y el contenido del producto */
}

.product-container {
    margin-top: 100px;
    /* Ajusta el valor según sea necesario */
}